<a href="/danh-sach-lop"><h3>Danh sách lớp</h3></a> <br>

<form action="/them-lop" method="POST">
    Tên lớp: <input name="tenLop"> <br>
    Số học sinh: <input name="soHocSinh">  <br>
    <button type="submit">Thêm lớp</button>
</form>